h1 {
  font-family: Arial Black;
  font-size: 26px;
  color: #29293d;
}

p {
  font-famil: Georgia;
  color: DarkGrey;
  font-size: 13px;
}

h2 {
  font-famil: Lucida Console;
  font-size: 20px;
  color: Orange;
  }

a {
  font-family: Lucida;
  color: Red;
  font-style: italic;
}
