.Navi {
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: grey;
  max-width: 300px;
  max-height: 600px;
  letter-spacing: 0.5em;
  border: 1px solid #fff;
  float: left;
}
