.kp {
  height: 204px;
  width: 100%;
  font-family: 'Bodoni MT', Times, serif;
  color: #dde9ef;
  font-size: 117px;
  text-align: center;
  vertical-align: center;
  background-image: url(https://thepoxxxx.github.io/Main/i/head.jpg);
}

body{
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

* { margin: 0; padding: 0; border: none; }

#X-1{
  padding-top: 17px;
  font-weight: inherit;
}
